<div class="myContentsDijit">
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="containerNode" class="layerControlContainer">
		<table>
			<tbody>
				<tr>
					<td><button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:_clickAddLayer">Add Layer</button></td>
					<td><button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:_clickRemoveLayer">Remove Layer</button></td>
				</tr>
			</tbody>
		</table>
		<table class="list" rules="none">
			<tbody data-dojo-attach-point="tbodyDijit">		
			<tr>
				<td><img src="./js/gis/dijit/common/MyContents/images/orange.png" width="10" height="20"></td>
				<td>人口データ</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>